/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    margin: 0;
    padding: 0;
    background-image: url(https://wallpapercave.com/wp/wp2902991.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   
  }